span.poster-icon .d-icon {
  margin-right: 5px;
}

.reply-as-staff-alias-icon {
  margin: 0px 5px;
}

.aliased-staff-user-details {
  display: inline;
  color: $primary-medium;

  a,
  a:visited {
    color: $primary-medium;
  }
}
