span.poster-icon .d-icon {
  margin-right: 5px;
}

.reply-as-staff-alias-icon {
  margin: 0 5px;
}

.aliased-staff-user-details {
  display: inline;
  color: var(--primary-medium);

  a,
  a:visited {
    color: var(--primary-medium);
  }
}
